@import 'utilities.css';
:root{
    --pure: #F6EFE7;
    --primary: #E09789;
    --ternary: #F5D4C3;
    --dark: #3C5556;
    --light: #F5D4C4;
}

body{
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 25px;
    margin: 0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s;
}

header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}
.hero{
    padding: 3rem 0;
}
.hero .right{
    margin-top: -7rem;
    padding: 5rem;
    color: var(--pure);
}
.hero .left{
    margin-bottom: 3rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    color: var(--light);
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

section{
    padding: 4rem;
}

section.about .my-img{
    margin-left: 11rem;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

section.about h4{
    color: var(--dark);
    margin-bottom: 1rem;
}

section.about h5{
    color: var(--light);
}

section.about h6{
    margin-bottom: 1.3rem;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    line-height: 1.9;
}

section.about .social{
    display: flex;
}

section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section.about .social a:hover{
    background: var(--primary);
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.section-heading{
    text-align: center;
    margin-bottom: 4rem;
    line-height: 0.5;
}

.section-heading span{
    color: var(--primary);
}

section.skills{
    background: var(--pure);
}

section.skills .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}

section.skills .card-wrapper .card{
    background: var(--light);
    padding: 3rem 2rem;
    text-align: center;
    transition: all .3s ease;
}

section.skills .card-wrapper .card h2{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--dark);

}

section.skills .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
} 

section.skills .card-wrapper .card:hover{
    background: var(--dark);
}

section.skills .card-wrapper .card:hover h2{
    color: var(--primary);
}

section.skills .card-wrapper .card:hover p{
    color: var(--pure);
}

section.project p{
    text-align: center;
}

section.contact{
    background: var(--pure);
}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}

section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--primary);
    font-weight: 400;
    margin-bottom: 2rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
    
}

section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    border: 1px solid var(--light);
    font-size: 0.8rem;
}

section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.8rem;
}

section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.8rem;
}

section.contact .input:focus{
    outline: none;
}

section.contact .input-wrap-2 textarea:focus{
    outline: none;
}

section.contact .btn-wrapper{
    margin-top: 2rem;
    text-align: center;
}

footer.foot{
    background: var(--dark);
    text-align: center;
    padding: 1rem;
}
